.Order {
    width: 80%;
    height: 200px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Order:hover,
.Order:active {
    background-color: #C0DDF5;
}

.Price {
    margin: 16px 0;
    color: red;
}

.bottomButtons button {
    margin: 5px;
}